.image__container {
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);

  .image-to-display {
    border-radius: 15px;
  }

  .image__info {
    display: flex;
    justify-content: start;
    &--tags {
      font-size: 1.5rem;
      padding: 0 0.5rem;
      margin: 0;
      margin-top: 5px;
    }
  }

  .image__likes {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;

    &--number {
      align-self: center;
      margin: 0;
      margin-left: 10px;
      font-size: 2rem;
    }
  }
}
