@import "../../../style/variables";
@import "../../../style/functions";

.filter__container {
  position: relative;

  .filter__btn {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    color: $input-font-color;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 35px;
    background-color: #fff;
    padding: 2rem;
  }

  .filter__form--container {
    position: absolute;
    top: 80px;
    right: 108px;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
    }

    @include mobile-only-xxs {
      left: -100px;
      width: 280px;
    }
  }

  .filter__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 724px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 8px;
    position: relative;

    @include mobile-only-xxs {
      width: 280px;
      // flex-wrap: nowrap;
    }
  }

  #tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 14px 0 0 8px;

    @include mobile-only-xxs {
      width: 320px;
      justify-content: center;
      position: absolute;
      top: 55px;
      left: -15px;
    }
  }

  .tag {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 8px;
    font-size: 18px;
    list-style: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    background: $tag-color;

    @include mobile-only-xxs {
      font-size: 14px;

    }

    .tag-title {
      margin-top: 3px;
    }

    .tag__close-icon {
      display: block;
      width: 18px;
      height: 18px;
      line-height: 16px;
      text-align: center;
      font-size: 18px;
      margin-left: 8px;
      color: $tag-color;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
    }
  }

  .filter__input {
    width: 700px;
    padding: 2rem;
    border-radius: 30px;
    border: none;
    font-size: 2.2rem;
    color: $input-font-color;
    flex: 1;
    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 2.2rem;
      letter-spacing: 0.2rem;
      color: $input-font-color;
    }

    @include mobile-only-xxs {
      width: 100px;
    }
  }

  .error-message {
    color: $error-message;
    font-size: 16px;
    text-align: center;
    margin: 8px 0;
  }
}
