.footer {
  position: relative;
  z-index: 10001;
  margin-top: 50px;
  &__container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    // filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--socials {
      display: flex;
      // justify-content: center;
      align-items: center;
      .contact {
        font-size: 20px;
        margin-right: 5px;
      }
      .icons {
        margin-right: 15px;
        cursor: pointer;
      }
    }

    &--copyright {
      .copyright {
        font-size: 18px;
      }
    }
  }
}
