@import "../../../style/functions";
@import "../../../style/variables";

.footer {
  background: #231942;
  height: 60px;
  overflow: hidden;

  @include mobile-only {
    height: 120px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;

    @include mobile-only {
      flex-direction: column;
    }

    &--socials {
      display: flex;
      align-items: center;

      @include mobile-only {
        margin-left: 8px;
      }
      .contact {
        font-size: 20px;
        margin-right: 5px;
      }
      .icons {
        margin-right: 15px;
        cursor: pointer;

        @include mobile-only {
          margin-left: 15px;
          margin-right: 0;
        }
      }
    }

    &--copyright {
      .copyright {
        font-size: 18px;
      }
    }
  }
}
