.footer {
  background: #231942;
  height: 60px;
  overflow: hidden;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;

    &--socials {
      display: flex;
      align-items: center;
      .contact {
        font-size: 20px;
        margin-right: 5px;
      }
      .icons {
        margin-right: 15px;
        cursor: pointer;
      }
    }

    &--copyright {
      .copyright {
        font-size: 18px;
      }
    }
  }
}
