.loading {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.search__components {
  margin: 0 auto;
  width: 950px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
