@import "../../../style/variables";
@import "../../../style/functions";

.header {
  background: #231942;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-only {
    flex-direction: column;
    height: 120px;
  }

  .logo {
    z-index: 1000;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    padding-left: 50px;
    font-weight: 300;
    text-decoration: none;

    @include mobile-only {
      padding-top: 15px;
      padding-left: 0px;
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding-right: 50px;

    @include mobile-only {
      justify-content: center;
      padding-right: 35px;
    }

    &--list {
      height: 60px;
      margin: 0;
      width: 300px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .list__item--link {
      text-decoration: none;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
      padding: 14px;
      border-radius: 4px;
    }

    .active {
      background-color: #d90429;
    }
  }
}
