@import "variables";

//Glass effect
.container:before {
  background-image: inherit;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.project-container {
  position: relative;
  z-index: 1000;

  .project-title {
    color: $header-color;
    text-align: center;
    font-size: 6rem;
    font-weight: 200;
  }
}
