// Colors
$header-color: #2b2d42;
$input-font-color: #8d99ae;
$pagination-number-selected: #edede9;
$tag-color: #778da9;
$error-message: #e63946;

// Mobile
$mobile-extra-small: 320px;
$mobile-small: 375px;
$mobile: 425px;

// Tablet
$tablet-small: 768px;
$tablet: 1024px;

// Laptop
$laptop: 1280px;
$laptop-large: 1440px;

// Desktop
$desktop: 1920px;

// Height
$low-height: 720px;

//Table
$table: 1000px;
