@import "../../style/functions";
@import "../../style/variables";

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);

  @include mobile-only {
    padding: 10px;
  }

  @include laptop-small {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__description {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 32px;

    p {
      font-size: 2.5rem;
      line-height: 125%;

      @include mobile-only {
        font-size: 1.8rem;
      }

      @include tablet {
        font-size: 2rem;
      }
    }
  }
}
